.newsHeadlinesContainer {
  max-width: 380px;
  height: 700px;
  margin: 0 auto;
}

.newsTitle {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Feature Mono';
  font-size: 1.5rem;
  font-weight: 800;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.newsListWrapper {
  font-size: 1rem;
  font-weight: 400;
}

.newsList {
  display: grid;
  gap: 10px;
}

.newsListItem {
  font-weight: 400;
  background-color: #eeeeee;
}

.newsListItem:first-child {
  font-weight: 600;
}

.newsLink {
  color: #000;
  transition: 0.3s ease;
  background-color: #eeeeee;
}

.containerNews {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.containerNews:hover {
  box-shadow: -8px 8px 10px 2px rgba(105, 105, 105, 0.3);
}
