@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Hairline.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Feature Mono';
  src: url('./FeatureMono/FeatureMono-Bold.ttf');
  font-weight: 700;
}
