.eventsTodayContainer {
  // padding: 0 5px;
}

.title {
  display: flex;
  justify-content: center;
  background-color: #6e0c0c;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.newsGrid {
  display: grid;
  gap: 10px;
}

.article {
  position: relative;
  // color: red;
}

.mainArticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  // padding: 0 5px;
}

.highlight {
  font-size: 24px;
}

.articleTitle {
  font-size: 19px;
  font-weight: 600;
}

.newsImageMain {
  width: 465px;
  object-fit: cover;
  transition: ease 0.5s;
}

.secondaryArticle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 10px;
}

.secondaryArticle::before,
.mainArticle::before {
  content: '';
  position: absolute;
  background-color: #666666;
  height: 1px;
  bottom: -5px;
  width: 100%;
}

.articleContainer {
  display: flex;
  align-items: center;
  max-width: 500px;
  gap: 10px;
}

.newsImageSecondary {
  width: 300px;
  height: 170px;
  object-fit: cover;
  transition: ease 0.5s;
}

.imgContainer {
  overflow: hidden;
}

.newsImageMain:hover,
.newsImageSecondary:hover {
  transform: scale(1.1);
  .newsLink {
    text-decoration: underline;
  }
}
